    <!-- フッター -->
    <footer class="footer">
      <div class= "contact">CONTACT US
        <div class= "contact_message">お問い合わせはこちらから</div>
        <div class= "tel">Tel : 0000-00-0000</div>
        <%= link_to 'TOPへ戻る', articles_path, class: "toppage_button" %>
      </div>
    </footer>