
//////////////////////////////ヘッダーの装飾///////////////////////////////////////////
.header{
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #bfd3d6;
}

.left_header{
  height: 100px;
  width: calc(100vw - 500px);
  font-size: 30px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: #005497;
}

.right_header{
  display: flex;
}

.right_header a{
  font-weight: 200;
  text-decoration-line: none;
  color: beige;
}


.target1, .target2{
  margin: 10px 0 10px 20px;
  color: #005497;
}

.company_target2{
  margin: 10px 0 10px 70px;
  color: #005497;
}

.buttons{
  display: flex;
  justify-content: center;
}

.right1{
  height: 100px;
}

.right2{
  right: 100px;
  margin-left: 20px;
  margin-right: 15px;
}

.register_button{
  border: 1px solid #005497;
  border-radius: 5px;
  padding: 8px;
  background-color: #005497;
}

.login_button{
  border: 1px solid #005497;
  border-radius: 5px;
  padding: 8px;
  margin-left: 8px;
  background-color: #005497;
}


.offer_check_button{
  border: 1px solid #005497;
  border-radius: 5px;
  padding: 8px;
  background-color: #005497;
  margin-right: 8px;
}

.logout_button{
  border: 1px solid #005497;
  border-radius: 5px;
  padding: 8px;
  background-color: #005497;
}

////管理者用の記事投稿ボタン////

.target3{
  margin-top: 15px;
}

.admin_article_button{
  border: 1px solid #005497;
  border-radius: 5px;
  padding: 8px;
  background-color: #005497;
  margin-right: 20px;
}

//////////////////////////////メイン部分の装飾///////////////////////////////////////////
.index_main{
  height: calc(100vh - 100px - 120px);
  width: 100vw;
  overflow: auto;
  background-color: beige;
}


.main_message{
  height: 400px;
  background-color: lightgoldenrodyellow;
  margin-bottom: 100px;
  position: relative;
}

.top_image{
  height: 400px;
  width: 100vw;
  opacity: 30%;
}


.main_text{
position: absolute;
top: 50px;
left: 50px;
}

h1{
text-align: center;
margin-bottom: 50px;
}

p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

////管理者の投稿記事の表示部分////

.article_box{
  overflow: auto;
  display: flex;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  justify-content: space-between;
}

.article_box a{
  text-decoration-line: none;
  color: black;
}

.user_articles{
  width: 48%;
  overflow: scroll;
  border-radius: 8px;
  background-color: #bfd3d678;
}

.article_box p{
  margin-left: 15px;
  font-weight: 200;
}

.company_articles{
  width: 48%;
  overflow: scroll;
  border-radius: 8px;
  background-color: #bfd3d678;
}

.action_buttons a{
  text-decoration-line: none;
  color: beige;
  border: 1px solid #005497;
  background-color: #005497;
  border-radius: 5px;
  padding: 8px;
}

.action_buttons{
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.find_job_button{
  margin-left: 0px;
}

//////////////////////////////フッターの装飾///////////////////////////////////////////
.footer{
  height: 120px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #bfd3d6;
}

.contact{
  font-size: 15px;
  font-weight: 200;
  color: #005497;
}

.contact_message{
  font-size:14px;
  margin-top: 10px;
}


.tel{
  font-size:13px;
  margin-bottom: 15px;
  margin-top: 3px;
}

.toppage_button {
  font-size: 13px;
  color: beige;
  text-decoration-line: none;
  border: 1px solid #005497;
  border-radius: 5px;
  padding: 8px;
  background-color: #005497;
}

