.article_show{
  margin-left: 50px;
  margin-top: 30px;
}

big {
  position: relative;
  font-size: 26px;
  background: #bfd3d6;
  box-shadow: 0px 0px 0px 5px #bfd3d6;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #005497;
}

big:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: beige beige #a4c2c7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.article_content{
  margin-top: 30px;
  font-size: 22px;
}

.admin_only_button{
  margin-top: 100px;
  margin-left: 50px;
}

a{
  text-decoration: none;
  color: beige;
}


.edit_button, .delete_button{
  border: 1px solid #005497;
  border-radius: 5px;
  padding: 8px;
  margin-left: 8px;
  background-color: #005497;
}