.job_registration_wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #bfd3d6;
}


.job_logo{
  color: #005497;
  margin: auto;
  text-decoration-line: none;
  font-weight: 200;
  font-size: 40px;
}


.job_form_box{
  height: 80%;
  width: 60%;
  margin: auto;
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

.job_registration_title{
  margin-bottom: 30px;
  position: absolute;
  top: 50px;
  font-size: 24px;
  font-weight: bold;
}


.new_job{
  position: absolute;
  top: 100px;
}

.job_field{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.benefit_field{
  width: 80%;
  margin-left: 70px;
  margin-bottom: 50px;
}


.job_registration_blue_button{
  line-height: 38px;
  font-size: 18px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #005497;
  color: beige;
}