<p>
  <%= @offer.last_name %><%= @offer.first_name %>様より応募がありました。<br />
  電話番号:<%= @offer.phone_number %><br />
  メールアドレス：<%= @offer.email %><br />
  のいずれかへご連絡いただき、面接日時を決めてください。<br />
  以上、どうぞよろしくお願いいたします。
</p>