.user_session_wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #bfd3d6;
}

.user_session_logo{
  color: #005497;
  margin: auto;
  text-decoration-line: none;
  font-weight: 200;
  font-size: 40px;
}

.login-flash-message{
  text-align: center;
}

.user_session_form_box{
  height: 70%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.user_session_title{
  margin-bottom: 50px;
}

.user_session_field{
  margin-bottom: 30px;
}

.user_session_button{
  text-align: center;
}

.user_session_blue_button{
  padding: 8px;
  font-size: 18px;
  align-items: center;
  border-radius: 5px;
  background-color: #005497;
  border: 1px solid #005497;
  color: beige;
}